---
import '@styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Recipe Page</title>
  </head>
  <body class="xs:py-16 min-h-screen bg-stone-100 sm:py-32">
    <main class="xs:p-6 xs:w-[512px] xs:rounded-3xl mx-auto w-[375px] bg-white sm:w-[616px] sm:p-10 md:w-[736px]">
      <slot />
    </main>
  </body>
</html>
